<h1><%= @mechanic.name %></h1>
<p><%= @mechanic.years_experience %> years experience</p>

<h2>Mechanic Ride Responsibilities:</h2>
<% @mechanic.open_rides_by_thrill.each do |ride| %>
  <h3><%= ride.name %></h3>
<% end %>